#navbar{
	background-color: rgb(31, 31, 31);
}
#navbar a{
	color: rgb(255, 215, 0);
}
.dropdown-menu{
	background-color: rgb(31, 31, 31);
}
.dropdown-item{
	color: rgb(255, 215, 0);
}

.carousel-item{
	width: 100%;
	background-position: 250px;
}


#card-spot{
	justify-content: space-around;
	align-items: center;
	padding: 0%
}

.row{
 justify-content: space-around;
 width: 100%;
}
.card-img-top{
	height: 20em;
}

form{
	margin-bottom: 2em;
}

#carouselExampleSlidesOnly{
	padding: 0px;
}

.carousel-item active{
	height: 650px;
}

#image-text{
margin: 0px;
position: relative;
overflow: visible;

}